body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b2b4b2;
}
.buttons{
    width: 25vw;
    height: 25vw;
    position: relative;
    padding: 5%;
    border-radius: 50%;
    background-color: #707372;
}
#central-controls{
    width: 20vw;
    height: 30vw;
}
svg {
    height: 100%;
    width: 100%;
}
.buttons svg{
    display:block;
    margin: auto;
}

@media screen and (orientation: portrait){
    body{
        transform-origin:top left;
        transform: rotate(90deg);
        left: 100vw;
        position: absolute;
        width: 100vh;
        height: 100vw;
    }
    .buttons{
        width: 30vh;
        height: 30vh;
    }
    #central-buttons{
        width: 20vh;
        height: 30vh;
    }
}